APIFUNDO="https"

POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""

DOCKER_SERVICE_PG=""

TELEGRAM_BOT_API_TOKEN=""
CHAT_ID=""

# Dados para query best fiis
# Indicadores selecionados que busca os melhores fundos
# É necessário inserir os dados para a query buscar
BEST1_dy=0
BEST1_rentabilidade_periodo=0
BEST1_rentabilidade_acumulada=0
BEST1_p_vpa=0
BEST1_variacao_patrimonial=0
BEST1_rentabilidade_patrimonial_periodo=0
BEST1_rentabilidade_patrimonial_acumulada=0
BEST1_vacancia_fisica=0
BEST1_vacancia_financeira=0
BEST1_liquidez_diaria=0